<div class="mb-3">
  <label for="name" class="form-label">
    Name
  </label>

  <!-- put something in here if there is an error. Maybe a message?-->
  <% if (typeof(contact)=="undefined" && contact.has("name")) { %>
    <input type="text" class="form-control" name="name" id="name" value="<%= contact.name %>">
    <div class="alert alert-danger pt-2" role="alert">
      <p class="mb-0"><%= contact.get("name") %>  is already taken!</p>
    </div>
  <% }else{ %>
    <input type="text" class="form-control" name="name" id="name" value="<%= contact.name %>">
  <% } %> 
</div>

<div class="mb-3">
  <label for="phone-number" class="form-label">
    Phone Number
  </label>

  <!-- put something in here if there is an error. Maybe a message?-->
  <% if (typeof(contact)=="undefined" && contact.has("name")) { %>
    <input type="text" class="form-control" name="name" id="name" value="<%= contact.phoneNum %>">
    <div class="alert alert-danger pt-2" role="alert">
      <p class="mb-0"><%= contact.get("name") %>  is already taken!</p>
    </div>
  <% }else{ %>
    <input type="text" class="form-control" name="name" id="name" value="<%= contact.phoneNum %>">
  <% } %> 
</div>

<div class="mb-3">
  <label for="email" class="form-label">Email</label>

  <!-- put something in here if there is an error. Maybe a message?-->
  <% if (typeof(contact)=="undefined" && contact.has("name")) { %>
    <input type="text" class="form-control" name="name" id="name" value="<%= contact.email %>">
    <div class="alert alert-danger pt-2" role="alert">
      <p class="mb-0"><%= contact.get("name") %>  is already taken!</p>
    </div>
  <% }else{ %>
    <input type="text" class="form-control" name="name" id="name" value="<%= contact.email %>">
  <% } %> 
</div>

<div class="mb-3">
  <label for="desc" class="form-label">Description</label>
  <textarea class="form-control" name="desc" id="desc" rows="3" value=""></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
<button type="reset" class="btn btn-warning">Clear</button>
<a href="/contacts">
  <button type="button" class="btn btn-info">Back</button>
</a>