<div class="container mt-3">
  <div class="row">
    <div class="col col-md-8">

      <h2>Detail Contact</h2>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <!-- if contact is not found -->
          <% if (contact===undefined) { %>
            <div class="alert alert-danger fw-bold" role="alert">
              <%= namae %> is not found!
            </div>
            <a href="/contacts" class="alert-link fw-normal text-decoration-none">
              <i class="bi bi-chevron-double-left fst-normal">Back</i>
            </a>
          <% }else{ %>
            <img src="https://source.unsplash.com/random/150x150" class="card-img-top" alt="...">
            <h3 class="card-title mt-3 mb-0"><%= contact.name %> </h3>
            <h6 class="card-subtitle mb-2 text-muted"><%= contact.phoneNum %> </h6>
            <p><%= contact.email %> </p>
            <hr>
            <p class="card-text"><%= contact.desc %> </p>
            <hr>

            <a href="/contacts" class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
              </svg>
            </a>
            <a href="/contacts/edit-contact/<%= contact.name %>" class="btn btn-success badge rounded-pill">
              <i class="bi bi-pencil fst-normal"> Edit</i>
            </a>

            <a href="/contacts/delete/<%= contact.name %>" class="btn btn-danger badge rounded-pill">
              <i class="bi bi-trash3 fst-normal"> Delete</i>
            </a>
          <% }; %> 
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteContactModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="deleteContactModal" tabindex="-1" aria-labelledby="deleteContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteContactModalLabel">Confirmation</h5>
      </div>

      <div class="modal-body">
        You sure want to delete this contact?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">No</button>
      </div>
    </div>
  </div>
</div>