<!-- June 30 2022--hope I can read this shitty code in the future -->
<div class="container mt-5">
  <div class="row">
    <div class="col col-5">

      <form action="/contacts/edit-contact" method="post">
        <!-- 
          if (typeof(errorMaps)!="undefined"){}
          if there is an error
            include(layouts/contact-form,{contact:errorMaps})

          else
            include layouts/contact-form
            include(layouts/contact-form,{contact:contact})

         -->


        <!-- if there is an old name, then use it -->
        <!-- if there is no old name, then insert the first inserted name -->
        <!-- (contact.oldName) ? contact.oldName : contact.name is the same as contact.oldName || contact.name -->
        <!-- using "or" operator -->
        <input type="hidden" class="form-control" name="oldName" id="name" value="<%= (contact.oldName) ? contact.oldName : contact.name %>">

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>

          <!-- error validation -->
          <% if (typeof(errorMaps)!="undefined" && errorMaps.has("name")) { %>
            <input type="text" class="form-control" name="name" id="name" value="<%= errorMaps.get("name") %>">

            <div class="alert alert-danger pt-2" role="alert">
              <p class="mb-0"><%= errorMaps.get("name") %> is already taken!</p>
            </div>
          <% }else{ %>
            <input type="text" class="form-control" name="name" id="name" value="<%= contact.name %>">
          <% } %>
          <!-- error validation -->
        </div>

        <div class="mb-3">
          <label for="phone-number" class="form-label">Phone Number</label>

          <!-- error validation -->
          <% if (typeof(errorMaps)!="undefined" && errorMaps.has("phoneNum")) { %>
            <input type="number" class="form-control" name="phoneNum" id="phone-number" value="<%= errorMaps.get("phoneNum") %>">

            <div class="alert alert-danger pt-2" role="alert">
              <p class="mb-0"><%= errorMaps.get("phoneNum") %>  is an invalid phonenumber!</p>
            </div>
          <% }else{ %>
            <input type="number" class="form-control" name="phoneNum" id="phone-number" value="<%= contact.phoneNum %>">
          <% } %>
          <!-- error validation -->
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>

          <!-- error validation -->
          <% if (typeof(errorMaps)!="undefined" && errorMaps.has("email")) { %>
            <input type="email" class="form-control" name="email" id="email" value="<%= errorMaps.get("email") %>">
            <div class="alert alert-danger pt-2" role="alert">
              <p class="mb-0"><%= errorMaps.get("email") %>  is an invalid email!</p>
            </div>
          <% }else{ %>
            <input type="email" class="form-control" name="email" id="email" value="<%= contact.email %>">
          <% } %> 
          <!-- error validation -->
        </div>

        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <textarea class="form-control" name="desc" id="desc" rows="3"><%= contact.desc %></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Clear</button>
        <a href="/contacts">
          <button type="button" class="btn btn-info">Back</button>
        </a>
      </form>

    </div>
  </div>
</div>